.jobs-bg-container {
  background-color: #000000;
  height: fit-content;
  padding: 10px;
  display: flex;
}
.profile-and-filter-container {
  min-width: 25%;
  max-width: 40%;
  padding: 10px;
}
.horizontal-line {
  color: #6366f1;
}
.employment-heading {
  color: #ffffff;
  font-size: 20px;
}
.list-of-emploment {
  list-style-type: none;
  padding-left: 0;
}
.search-job-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.input-card {
  background-color: #272727;
  border: #6366f1 solid 1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 30%;
}
.search-input {
  background-color: #000000;
  color: #272727;
  padding: 10px;
  width: 350px;
  margin-right: 10px;
  border: none;
}
.search-Icons {
  font-size: 20px;
  margin-right: 10px;
}
.jobs-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
}
.jobs-error-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-bottom: 64px;
}
.jobs-failure-img {
  width: 250px;
  height: 200px;
}
.jobs-failure-heading-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}
.jobs-failure-description {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}
.no-jobs-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-jobs-img {
  width: 250px;
  height: 180px;
}

.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3px;
}
.no-jobs-description {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}
.jobs-list {
  list-style-type: none;
  padding-left: 0;
}
.search-button {
  background-color: transparent;
  border: none;
}
.job-results-container {
  margin-top: 20px;
}
