* {
  font-family: roboto;
}
.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-container {
  padding: 15px;
}
.home-main-heading {
  color: #ffffff;
  font-size: 50px;
}
.home-main-description {
  color: #f8fafc;
  font-size: 30px;
}
.button {
  background-color: #4f46e5;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
}
